@import "../index-styles/main.scss";


/////////HEADER////////////////////////////////////////

header{
    background-image:url("../../images/Services/BG-V2.jpg");
}
/////////MAIN////////////////////////////////////////

main{
    flex-direction: column;

    .container{
        flex-direction:column;
    }

    .main-section-header{

        span{
            font-size:1em;
        }

        p{
            color:$light-gray;
            margin-top: 1em;
        }
    }
}



///////////BLOCKS///////////////////////////////////////

.blocks{
    text-align: center;
    flex-direction: column;


    .text-right-box{
        color:$dark-gray;
    }

    .row{
        padding: 3em 0em;


        span{
            margin-bottom: 1em;
            display: inline-block;
        }

        .row-img{
            display:none;

            @include med-desktop(){
                display:block;
            }
        }
    }

    .row1{
        background-color: $dark-green;
        color:white;

        @include med-desktop(){
            background-image:url("../../images/Services/cross dock.jpg");
        }

    }

    .row2{

        .retail-list{
            flex-direction: column;

            p{
                margin-top:1em;
            }

            ul{
                margin-top:1em;
                flex-direction:column;
                align-items: flex-start;
        

                li{
                    font-family: $secondary;
                    list-style-position: inside;
                    list-style-type:circle;
                }
            }
        }   
    }

    .row3{
        background:$dark-gray;
        color:white;
    }

    .row4{
        border-bottom: 1px solid $dark-green;
    }
}


//////LEARN MORE//////////////////////////////////////////////////////////////////////////////

section{
    flex-direction: column;
    color:$dark-gray;

    .container{
        text-align: center;
        padding-top:4em;
    }

    .arrow{
        background-image:url("../../images/Services/arrow.png");
        background-size: auto;
        width: 100%;
        height: 3em;
        margin-bottom: 3em;
    }

}

/////////////////FORM SECTION////////////////////////////////////////////////////////////
.form-section{

    @include desktop(){
        background-image:url("../../images/Services/50-50.jpg");

        @include xtra-large-desktop(){
            background-position-y: bottom;
        }
    }
}