@import '../index-styles/main.scss';



/////GLOBAL STYLES///////////////////////////

.container{
    @include xtra-large-desktop(){
        width: 78%;
    }
}


///////HEADER////////////////////////////////////////
header{
    background-image:url("../../images/contact/BG.jpg");

    .container{
        // @include xtra-large-desktop(){
        //     width: 50%;
        // }
    }
}


/////////MAIN///////////////////////////////////////

main{
    .container{
        flex-direction: column;

        // @include desktop(){
        //     width:80%;
        // }

        .main-section-header{

            @include xtra-large-desktop(){
                font-size: 1.2em;
                margin-bottom: 3em;
            }
        }
        
        .contact-box{
            display: none;


            @include med-desktop(){
                display:block;
                width:100%;
                height: 243px;
                border: 1px solid $dark-gray;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                line-height: 1.9em;
            }

            @include xtra-large-desktop(){
                height: 285px;
                font-size: 1.2em;

            }

            .text-wrapper{
                flex-direction: column;
                height: 100%;
                width: 100%;
                justify-content: flex-start;


                .call-us{
                    margin-top: 1em;
                }

                a{
                    color:blue;
                    text-decoration: underline;
                }
            }
        }

        .contact-form{
            background-image: url("../../images/contact/Contact-Form_IMG.jpg");
            height: 600px;
            width: 100%;
            flex-direction:column;
            color:white;

            @include med-desktop(){
                margin-top: -4em;
                width:80%;
            }

            @include xtra-large-desktop(){
                height: 700px;
            }


            form{
                margin: 0em 1em;

                @include tablet(){
                    width:80%;
                }

                @include xtra-large-desktop(){
                    width: 60%;
                }

                input{

                    @include xtra-large-desktop(){
                        height: 4em;
                    }
                }

                .message{
                    @include xtra-large-desktop(){
                        height: 17em;
                    }
                }

                .submit{
                    height: 2em;
                }
            }
        }
    }
}




///////////////////MAP SECTION////////////////////////////////////

.map-section{
    color:$dark-gray;
    margin-top:2em;

    // @include desktop(){
    //     margin: 2em 0em;
    // }

    .container{
        flex-direction: column;

        h1,span{
            text-align: center;
        }

        h1{
            font-size: 3em;
        }

        span{
            margin-bottom: 2em;
            font-size: 2em;
        }

    }

}

//FOOTER///////////////////////////////////////////////// 

// footer{
//     flex-direction: column;
//     background-color: $light-gray;
    
//     nav{
//         width: 100%;
//         background-color: $dark-gray;
//         color:white;
//         text-align: center;

//         @include ipad(){
//             font-size: .7em;
//         }

//         ul{
//             flex-direction: column;
//             line-height: 30px;
//             padding: 1em 0em;

//             @include ipad(){
//             width: 50%;
//             display:flex;
//             justify-content: space-around;
//             margin: 20px auto;
//             flex-direction:row;
//             }

//             @include med-desktop(){
//                 width: 42%;
//             }

//             @include large-desktop(){
//                 font-size: 1.3em;
//                 width: 37%;
//             }

//             a{
//                 &:hover{
//                     color:$light-green;
//                 }
//             }

//         }
//     }



//     .footer-logo{
//         flex-direction: column;
//         padding:2em;
//         // border:1px solid white;

//         @include desktop(){
//             flex-direction:row;
//             width: 50%;
//         }

//         @include large-desktop(){
//             width: 40%;
//         }

//         @include largest(){ 
//             width: 30%;
//         }

//         a{

//             img{
//                 width: 45%;

//                 @include desktop(){
//                     width: 70%;

//                 }

//             }
//         }

//     }
// }