@import "../index-styles/main.scss";

//fonts
$main: 'Montserrat', sans-serif;
// $main-bold:
$secondary: 'Roboto', sans-serif;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height:100vh;
}

body{
    background-color:$dark-gray;
    height: 80%;

    .box{
        background-color: #587F77;
        flex-direction: column;
        height: 80%;
        padding: 1em;
        width: 90%;
        font-size: 1.5em;
        text-align: center;
        color: white;
        justify-content: space-around;

        @include desktop(){
            padding:0;
            // height:40%;
        }

        h1{
            font-family: $main;
        }

        span{
           
            @include desktop(){
            margin-top: -3em;
           }
        }

        
    }
}