
@import "../index-styles/main.scss";



////GLOBAL STYLES////////////////////////////////////////////////////////

.container{
    flex-direction:column;
    margin-bottom: 3em;
    


    @include desktop(){
        width: 70%;
    }

    @include large-desktop(){
        // width: 85%;
        // width: 1020px;
    }

    @include xtra-large-desktop(){
        width: 1110px;
    }

    @include largest(){
        width: 1260px;
    }
}

/////////header////////////////////////////////////////////////////////////

header{
    background-image:url("../../images/the-rebellion-images/BG.jpg");

    .overlay-gradient{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
        flex-direction:column;
        
        @include xtra-large-desktop(){
            height: 100%;
        }
    }

    .hero{
        @include desktop(){
            width:100%;
        }
    }

    .call-to-action{
        @include largest(){
            // width: 57%;
        }
    }

    .icon-positioning{
        overflow-y:hidden;
    }
}


//////////TRIANGLE IMAGE///////////////////////////////////////////////////////////

.triangle-img{
    background-image: url("../../images/index-images/Tri-Break.png");
}





//////////WHO WE ARE///////////////////////////////////////////////////////////

main{
    flex-direction: column;


    #main-section-header{
        margin-top:1em;

        @include large-desktop(){
            margin-bottom: 4em;
        }

        span{

            @include large-desktop(){
            width: 80%;
            }

            @include xtra-large-desktop(){
                width: 60%;
            }
        }

        .green-line{
            width: 33%;
        }
    }


    .bio-section{

        @include large-desktop(){
            font-size: .8em;
        }

        @include xtra-large-desktop(){
            font-size: .89em;
        }

        @include largest(){
            font-size: .97em;
        }
  


        .bio-top{
            flex-direction:column;

            img{
                @include ipad(){
                    width:70%;
                }

                @include large-desktop(){
                    width:100%;
                }
            }

            @include large-desktop(){
                flex-direction: row;
                height: 377px;
                align-items: flex-end;

                @include xtra-large-desktop(){
                    height: 478px;
                }
            }


            .top-content{
                overflow-y: hidden;
                margin-top: 3em;

                @include desktop(){
                    width: 100%;
                }

                @include large-desktop(){
                    margin-bottom: 1%;
                    height: 80%;


                    @include xtra-large-desktop(){
                        height: 68%;
                    }

                    @include largest(){
                        height: 76%;
                    }


                }

                h2{
                    color:$dark-gray;
                    font-size: 2em;
                }

                span{
                    color:$dark-green;
                    font-size: 1.5em;
                }

                p{
                    margin-top: .5em;
                }
            }

            img{
                margin-right: 2em;

            }
        }

        .bio-bottom{
            display:none;

            @include desktop(){
                display:block;
                margin-bottom: 8em;
            }
        }
    }
}



.kare-container{
    width:100%;
    background-color: #ECECEC;

    .container{

        .bio-top{
            @include large-desktop(){
                margin-top: 5em;
            }

            img{
                @include large-desktop(){
                    order: 1;
                    padding-left: 2em;
                }
            }

            .top-content{
                @include large-desktop(){
                    h2{
                        margin-top: 2em;
                    }
                }
            }
        }
    }
}


//////WHY WE DO IT/////////////////////////////////////////////////////////////@include



.why{
    background-image:url("../../images/the-rebellion-images/BG-1Row.jpg");
    color:white;
    background-attachment: fixed;

    .container{
        @include xtra-large-desktop(){
            width: 1000px;
        }
    }
    
    .why-content{
        padding: 4em 0em;
        text-align: center;
        flex-direction: column;

        @include large-desktop(){
            padding: 8em 0em;
        }

        h1{
            font-size: 2.4em;
        }

        span{
            font-family: $secondary;
            font-size: 1.3em;
        }
    }
}


///////////////////FORM////////////////////////////////////////////////////////


.form-section{

    @include desktop(){
        background-image:url("../../images/the-rebellion-images/50-50.jpg");

        @include xtra-large-desktop(){
            background-position-y: bottom;
        }
    }
}

//////////////////FOOTER//////////////////////////////////////////////////////////////




//FOOTER///////////////////////////////////////////////// 

// footer{
//     flex-direction: column;
//     background-color: $light-gray;
    
//     nav{
//         width: 100%;
//         background-color: $dark-gray;
//         color:white;
//         text-align: center;

//         @include ipad(){
//             font-size: .7em;
//         }

//         ul{
//             flex-direction: column;
//             line-height: 30px;
//             padding: 1em 0em;

//             @include ipad(){
//             width: 50%;
//             display:flex;
//             justify-content: space-around;
//             margin: 20px auto;
//             flex-direction:row;
//             }

//             @include med-desktop(){
//                 width: 42%;
//             }

//             @include large-desktop(){
//                 font-size: 1.3em;
//                 width: 37%;
//             }

//             a{
//                 &:hover{
//                     color:$light-green;
//                 }
//             }

//         }
//     }



//     .footer-logo{
//         flex-direction: column;
//         padding:2em;
//         // border:1px solid white;

//         @include desktop(){
//             flex-direction:row;
//             width: 50%;
//         }

//         @include large-desktop(){
//             width: 40%;
//         }

//         @include largest(){ 
//             width: 30%;
//         }

//         a{

//             img{
//                 width: 45%;

//                 @include desktop(){
//                     width: 70%;

//                 }

//             }
//         }

//     }
// }

























































































































