//colors
$dark-gray:#585858;
$light-gray:#636363;
$light-green:#A8BAB5;
$dark-green:#587F77;

//fonts
$main: 'Montserrat', sans-serif;
// $main-bold:
$secondary: 'Roboto', sans-serif;

//mix-ins



//styles

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

#tri-break{
    background-image:url("/websiteassetshomepageonly/Tri-Break.png");
    height: 131px;
}


.background-img-settings{
    background-repeat: no-repeat;
    background-position: center;
}



#services{
    margin-top: -45px;//this brings the Rebels Services Text into the Tri-Break forground. 

        #cards{
            background-color:blue;

            #card-1{
                background-image:url("/websiteassetshomepageonly/CTA-1.jpg");
            }
            #card-2{
                background-image:url("/websiteassetshomepageonly/CTA-2.jpg");
            }
            #card-3{
                background-image:url("/websiteassetshomepageonly/CTA-3.jpg");
            }
            #card-4{
                background-image:url("/websiteassetshomepageonly/CTA-4.jpg");
            }
        
            .card{
                width:100px;
                height:100px;
                background-size:cover;
        }
    }
}







#phone-nav{
    display:none;
}