//colors
$dark-gray:#585858;
$light-gray:#636363;
$light-green:#A8BAB5;
$dark-green:#587F77;

//fonts
$main: 'Montserrat', sans-serif;
// $main-bold:
$secondary: 'Roboto', sans-serif;

//mix-ins
$ipad: 768px;

@mixin ipad{
    @media(min-width:#{$ipad}) {
        @content;
    }
}

//styles//////////////////////////////////////////////////////////////////////////////////////

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



//helper classes/////////

img{
    width: 100%;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}


.background-img-settings{
    background-repeat: no-repeat;
    background-position: center;
}


//HEADER///////////

header{
    background-image:url("/websiteassetshomepageonly/Hero.jpg");
    background-size:cover;
}


 .phone-nav{
    display:none;
}


//services/////////

 .services{
    background-image: url("/websiteassetshomepageonly/CTA-BG.jpg");
    background-size: cover;
}

 .cards{
    flex-wrap:wrap;

    @include ipad {
        flex-wrap:nowrap;
    }

     .card-1{
        background-image:url("/websiteassetshomepageonly/CTA-1.jpg");
    }
     .card-2{
        background-image:url("/websiteassetshomepageonly/CTA-2.jpg");
    }
     .card-3{
        background-image:url("/websiteassetshomepageonly/CTA-3.jpg");
    }
     .card-4{
        background-image:url("/websiteassetshomepageonly/CTA-4.jpg");
    }
        
    .card{
        background-size:cover;
        padding: 40px;
    }
}

//WHY REBEL/////////////////////////////////////////////

.why-rebel{
    background-image:url("/websiteassetshomepageonly/Hero.jpg")
}