//colors
$dark-gray:#585858;
$light-gray:#636363;
$light-green:#A8BAB5;
$dark-green:#587F77;

//fonts
$main: 'Montserrat', sans-serif;
// $main-bold:
$secondary: 'Roboto', sans-serif;

//media break points
$tablet: 550px;
$ipad: 768px;
$desktop: 802px;
$large-desktop:1150px;
$wrap-cards:802px;

//mixins
@mixin ipad{
    @media(min-width:#{$ipad}) {
        @content;
    }
}

@mixin tablet{
    @media(min-width:#{$tablet}) {
        @content;
    }
}

@mixin desktop{
    @media(min-width:#{$desktop}){
        @content;
    }
}

@mixin large-desktop{
    @media(min-width:#{$large-desktop}){
        @content
    }
}

@mixin wrap-cards{
    @media(min-width:#{$desktop}){
        @content;
    }
}


//GLOBAL STYLING//////////////////////////////////////////////////////{
    

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-transform: uppercase;
    font-family:$main;
    overflow-x: hidden;
}


img{
    width: 100%;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}


.background-img-settings{
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}

a{
    text-decoration: none;
    color:white;
}



//CONTAINER///////////////////////////////////////////////////////////////////////////
.container{
    // border:1px solid black;
    width:90%;
    margin-top:10px;
}


//HEADER/////////////////////////////////////////////////////////////

header{
    background-image:url("/websiteassetshomepageonly/Mobile-Hero.jpg");

    @include ipad{
    background-image:url("/websiteassetshomepageonly/Hero.jpg")
    }

    .logo{
        width:30%;
        
        &:hover{
            cursor: pointer;
        }
    
        @include ipad{
            width: 21%;
            
            &:hover{
                cursor: pointer;
            }
        }
    }

}




.icon-positioning{
    justify-content: space-between;

    #hamburger-icon{
        color:white;
        font-size:2em;
        margin-top: -10px;
        text-shadow: 3px 2px 1px black;

        &:hover{
            cursor: pointer;
        }

        @include desktop{
            display:none;
        }
    }

}


//DESKTOP NAV/////////////////////////////////////////////////////////////////////////
.desktop-nav{
    display:none;

    @include desktop{
        display:block;
        
        ul{
            list-style: none;
            width: 432px;
            justify-content: space-around;

            @include large-desktop{
                width: 494px;
                font-size: 1.2em;
            }

            a{
                text-shadow: 2px 1px 3px black;
                
                &:hover{
                    color:$dark-green;
                    text-shadow: none;
                    transition:ease .2s;                
                    -webkit-transition:ease .2s;              
                    -moz-transition:ease .2s;                
                    -ms-transition:ease .2s;                
                    -o-transition:ease .2s;                
                }
            }
        }
    }
}


//PHONE NAV/////////////////////////////////////////////////////////////////////////


#mobile-nav{
    // display:none;
    width:250px;
    background:#587f77f0;
    position:absolute;
    left:-250px;
    z-index:20;
    height: 600px;
    position: absolute;
    top: 0px;
    transition:ease .5s;   
    -webkit-transition:ease .5s;   
    -moz-transition:ease .5s;   
    -ms-transition:ease .5s;   
    -o-transition:ease .5s;   

    ul{
        height: 65%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // box-shadow: 0 0 7px 0px black;
        background-color: #ffffff17;
        margin-top: 81px;

        li{
            margin-left: 10px;
            padding: 25px;
            font-size: 1.3em;
        
        
            a{
                color: white;
                font-size: 1.2em;
                text-shadow: 3px 3px 7px black;
            }
        }
    }

    #close-icon{
        position: absolute;
        color: white;
        text-shadow: 5px 3px black;
        font-size: 4.5em;
        right: 10px;
    }

    .nav-logo{
    margin-bottom: -12px;
    width: 73%;
    position: absolute;
    bottom: 35px;
    margin-left: 30px;
    padding: 10px;
    }
    
}


//HERO ELEMENTS/////////////////////////////////////////////////////////////////////////

.hero{
    flex-direction:column;
    padding: 17px;
    text-align:center;

    @include ipad{
        margin-bottom: 57px;
    }

    @include large-desktop{
        font-size: 1.3em;
    }

    .header-text{
        margin-top: 68px;
        font-size: 1.3em;
        flex-direction: column;
    }

    h1,span, .call-to-action{
    font-family: $main;
    color:white;
    }

    h1{

        font-weight: bolder;
        text-shadow: 2px 1px 5px black;

    }

    span{
        display:none;
        text-shadow: 3px 2px 4px black;

        @include tablet{
            display:block;
        }
    }

    .call-to-action{
        flex-direction: column;
        justify-content: space-around;
        margin: 10px;
        font-size: 22px;
        padding: 10px;
        text-shadow: 0px 3px 7px black;

        @include ipad{
            flex-direction: row;
            width: 70%;
            // height: 200px;
            margin-bottom: 85px;
        }

        @include desktop{
            width:460px;
        }
        
    }
}

.green-line{
    width: 280px;
    height: 10px;
    border-bottom: 4px solid $dark-green;
    margin-top: 10px;
}

//BUTTONS/////////////////////////////////////////////////////////////////////////

.green-button, .white-button{
    padding:10px;
    border-radius: 20px;
    margin-top:10px;
    box-shadow: 1px 0px 5px black;
}

.green-button{
    background-image:linear-gradient(to bottom, $dark-green, $light-green);

    &:hover{
        background:$light-green;
    }
}

.white-button{
    font-size: .9em;
    border:3px solid white;


    &:hover{
        background:white;
        color:$dark-gray;
        transition: ease-in-out .1s    ;
        -webkit-transition: ease-in-out .1s    ;
        -moz-transition: ease-in-out .1s    ;
        -ms-transition: ease-in-out .1s    ;
        -o-transition: ease-in-out .1s    ;
        text-shadow:none;
    }

}



//Triangle Image///////////////////////////////////////////////////////////

.triangle-img{

    display:none;

    @include ipad{
        display:block;
        width:100%;
        height:100px;
        background-image: url("/websiteassetshomepageonly/Tri-Break.png");
        margin-top: -34px;
    }

    @include desktop{
        margin-top: -69px;
    }
}


//services///////////////////////////////////////////////////////////

.services{
    margin-bottom: 4em;

    @include tablet(){
        margin-top: -53px;
    }
}

 .services-header{
    flex-direction: column;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 55px;

    @include tablet(){
        margin-top: 87px;
    }

    @include ipad(){
        margin-top: 44px;
    }

    @include desktop(){
        margin-bottom:30px;
    }

    h1{
        color:$dark-gray;
        margin-bottom: 10px;
        font-size:2.4em;

    }

    span{
        color:$light-gray;
    }
}


//CARDS///////////////////////////////////////////////////

 .cards{
    flex-wrap:wrap;

    @include desktop() {
        flex-wrap:nowrap;
    }

     .card-1{
        background-image:url("/websiteassetshomepageonly/CTA-1.jpg");
    }
     .card-2{
        background-image:url("/websiteassetshomepageonly/CTA-2.jpg");
    }
     .card-3{
        background-image:url("/websiteassetshomepageonly/CTA-3.jpg");
    }
     .card-4{
        background-image:url("/websiteassetshomepageonly/CTA-4.jpg");
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        margin-bottom: 25px;
        line-height:25px;
        box-shadow: 0px 1px 4px 0px black;



        @include tablet(){
            padding: 114px 36px;
        }

        @include desktop() {
            padding: 10px;
            align-self: stretch;
            font-size: .4em;
            line-height:13px;
        }

        @include large-desktop(){
            margin: 0px 10px;
        }
        
        

         .gray-h1{
             color:$dark-gray;
        }

        .green-h1{
            color:$dark-green;
        }

        p{
            width: 90%;
            margin-top: 15px;
            text-align:center;

            @include ipad(){
                width:72%;
            }

            @include desktop(){
                width:100%;
            }

        }
    }
        
}

.services-footer{
    color:$light-gray;
    margin-bottom:25px;
}

//WHY REBEL/////////////////////////////////////////////

.why-rebel{
    background-image:url("/websiteassetshomepageonly/Hero.jpg")
}

//BACK 2 BASICS///////////////////////////////////////

.fork-lift{
    width:100%;
}



//COMMITMENT//////////////////////////////////////////

    
.commitment{
    background-image:url("/websiteassetshomepageonly/Carousel-1.jpg");

}

//FORM///////////////////////////////////////////////// 

input{
    background-color:#fafafa;
}

.form-img{
    background-image: url("/websiteassetshomepageonly/Form_BG.jpg");
}

//OVERLAY///////////////////////////////////////////////// 

#overlay{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color:#090909db;
}